:root{
  --color-pana-blue: #4ab3ea;
  --color-pana-pink: #fc2070;
  --color-pana-yellow: #fab22c;
  --color-pana-orange: #ff8100;
  --color-bg-light: #f8f8f8;
  --color-bg-dark: #444;
  --color-bg-navy: #181c3d;
  --color-navy: #181c3d;
  --color-gray: #b5b5b5;
  --base-font-size: 18px;
  --mobile-font-size: 16px;
  --title-font-size: 32px;
  --subtitle-font-size: 24px;
  /* breakpoints present for reference, as they can't be used in media queries */
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", "Verdana", "sans-serif";
  font-size: var(--base-font-size);
}
@media screen and (max-width: 600px) {
  body {
    font-size: var(--mobile-font-size);
  }
}
h1,h2,h3,h4{
  margin: 0;
  padding:0.75rem 0;
  font-family: "Rubik";
}

input{
  font-size: var(--base-font-size);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  text-decoration: underline
}

.linkButton {
  all: unset;
  color: var(--color-pana-pink);
}
.linkButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #fc207063;
}

.glass {
  backdrop-filter: blur( 3px );
}

.sticky {
  top: 0;
  position: sticky;
  z-index: 1;
}

.bottomShadow {
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.text-pana-pink{
  color: var(--color-pana-pink);
}
.text-pana-blue{
  color: var(--color-pana-blue);
}
.text-pana-yellow{
  color: var(--color-pana-yellow);
}

.icon.icon-tabler{
  vertical-align: text-top;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.image-container {
  width: 100%;
  position: relative;

  .image {
    object-fit: fill;
    width: 100%;
    height: auto;
  }
}

.burger-icon{
  font-size: 20px;
}

.burger-icon::before{
  content:"|||";
  display: inline-block;
  font-size: 20px;
  transform: rotate(90deg);
}
.burger-icon::after{
  content:"";
  display: inline-block;
  transform: translateX(-5px) rotate(90deg);
  transition: transform .75s ease-out;
}

.burger-icon.close::before{
  content:"|";
  display: inline-block;
  transform: translateX(5px) rotate(45deg);
  transition: transform .5s ease-out;
}
.burger-icon.close::after{
  content:"|";
  display: inline-block;
  transform: rotate(-45deg);
  transition: transform .5s ease-out;
}

.slider-wrapper {
  padding-bottom: 2.5rem 0;
}

.carousel-status {
  padding: 0 !important;
  margin: 0 !important;
  top: auto !important;
  right: auto !important;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.control-dots {
  width: auto;
  margin: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem !important;

}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: #FFECC8;
  }
}

@media screen and (max-width: 600px) {
  .hidden-sm{
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .slide {
    min-width: 33.33% !important;
  }
}
